.site-page-header {
    border: 1px solid rgb(235, 237, 240);
}
@media only screen and (max-width: 992px) {
    .responsiveHeader {
        width: calc(100% - 48px);
    }
}
@media only screen and (min-width: 992px) {
    .responsiveHeader {
        width: 100%;
    }
}